In [ ]:
import pandas as pd
from datetime import date

fileList = []

#Cargar los archivos excel
def loadExcel () : 
  i = 1
  while i < 8:
    loadList = 'dm2019-01-0'+str(i)+'.xls'
    fileList.append(loadList)
    i += 1
loadExcel()
print(fileList)

['dm2019-01-01.xls', 'dm2019-01-02.xls', 'dm2019-01-03.xls', 'dm2019-01-04.xls', 'dm2019-01-05.xls', 'dm2019-01-06.xls', 'dm2019-01-07.xls']

In [ ]:
def loadDateTime () :
  i = 0
  while i < len(fileList):
    #Leer excel
    df = pd.read_excel(fileList[i])
    #Crear fecha
    createDate = df.iloc[1 , 0].split(",")[1].strip(' ').split(" ")
    createDate[1] = 1
    fixDate = date(int(createDate[2]) , createDate[1] , int(createDate[0]))
    #Crear columna y cargar fecha
    df['Fecha'] = pd.to_datetime(fixDate)
    fileList[i] = pd.DataFrame(df)
    i += 1
loadDateTime()

In [ ]:
#Concatenar la data
df = pd.concat(map(pd.DataFrame, fileList))
#Indique la cantidad de filas y columnas
print(f'Filas: {df.shape[0]}, Columnas: {df.shape[1]}\n')
#Indique los tipos de dato de las columnas.
print('Tipo de datos de las columnas')
print(df.dtypes)

Filas: 5607, Columnas: 13

Tipo de datos de las columnas
España                 object
Unnamed: 1             object
Unnamed: 2             object
Unnamed: 3             object
Unnamed: 4             object
Unnamed: 5             object
Unnamed: 6             object
Unnamed: 7             object
Unnamed: 8             object
Unnamed: 9             object
Unnamed: 10            object
Unnamed: 11            object
Fecha          datetime64[ns]
dtype: object

In [ ]:
#DataFrame Original
display(df)

,España,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Fecha
0,"Actualizado: miércoles, 02 enero 2019 a las 18...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-01
1,"Fecha: martes, 01 enero 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-01
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-01
3,Estación,Provincia,Temperatura máxima (ºC),Temperatura mínima (ºC),Temperatura media (ºC),Racha (km/h),Velocidad máxima (km/h),Precipitación 00-24h (mm),Precipitación 00-06h (mm),Precipitación 06-12h (mm),Precipitación 12-18h (mm),Precipitación 18-24h (mm),2019-01-01
4,Estaca de Bares,A Coruña,11.0 (20:20),8.7 (04:10),9.8,61 (16:30),39 (18:40),0,0,0,0,0,2019-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,"Zaragoza, Valdespartera",Zaragoza,9.8 (15:30),3.0 (06:10),6.4,64 (10:50),38 (10:50),0,0,0,0,0,2019-01-07
797,Leciñena,Zaragoza,10.5 (15:10),-5.2 (06:50),2.7,15 (13:20),9 (16:40),0,0,0,0,0,2019-01-07
798,Valmadrid,Zaragoza,8.1 (00:00),1.9 (08:30),5,80 (00:10),58 (00:10),0,0,0,0,0,2019-01-07
799,Quinto,Zaragoza,10.5 (15:20),2.8 (08:00),6.6,57 (11:00),30 (11:20),0,0,0,0,0,2019-01-07
800,Caspe,Zaragoza,10.2 (15:50),2.1 (06:50),6.1,41 (11:50),31 (11:50),0,0,0,0,0,2019-01-07

In [ ]:
#Limpiar los datos (sin destruir el dataframe original):

#Eliminar las filas a las que les faltan los datos numéricos (nan)
#Creamos una copia del DataFrame usando 'dropna()'
datosMtDF = df.dropna()
#Obtener columnas
getColumn = []
def loadColumns () :
  df = fileList[0]
  i = 0
  while i < df.shape[1]-1:
    selectColumn = df.iloc[3 , i]
    getColumn.append(selectColumn)
    i += 1
  getColumn.append('Fecha de muestra')
loadColumns()
print(getColumn)
print(len(getColumn))
#Renombrar las columnas más importantes.
i = 0
datosMtColumn = list(datosMtDF.columns)
while i < len(getColumn):
  datosMtDF = datosMtDF.rename(columns={datosMtColumn[i] : getColumn[i]})
  i += 1
datosMtDF = datosMtDF.drop(index=3)

['Estación', 'Provincia', 'Temperatura máxima (ºC)', 'Temperatura mínima (ºC)', 'Temperatura media (ºC)', 'Racha (km/h)', 'Velocidad máxima (km/h)', 'Precipitación 00-24h (mm)', 'Precipitación 00-06h (mm)', 'Precipitación 06-12h (mm)', 'Precipitación 12-18h (mm)', 'Precipitación 18-24h (mm)', 'Fecha de muestra']
13

In [ ]:
#Limpiar y convertir las columnas que deben ser numéricas
datosMtDF['Temperatura máxima (ºC)'] = datosMtDF['Temperatura máxima (ºC)'].str.split(" ").str[0].apply(pd.to_numeric)
datosMtDF['Temperatura mínima (ºC)'] = datosMtDF['Temperatura mínima (ºC)'].str.split(" ").str[0].apply(pd.to_numeric)
datosMtDF['Racha (km/h)'] = datosMtDF['Racha (km/h)'].str.split(" ").str[0].apply(pd.to_numeric)
datosMtDF['Velocidad máxima (km/h)'] = datosMtDF['Velocidad máxima (km/h)'].str.split(" ").str[0].apply(pd.to_numeric)
datosMtDF = datosMtDF.convert_dtypes()
print(datosMtDF.dtypes)

Estación                             string
Provincia                            string
Temperatura máxima (ºC)             Float64
Temperatura mínima (ºC)             Float64
Temperatura media (ºC)              Float64
Racha (km/h)                          Int64
Velocidad máxima (km/h)               Int64
Precipitación 00-24h (mm)           Float64
Precipitación 00-06h (mm)           Float64
Precipitación 06-12h (mm)           Float64
Precipitación 12-18h (mm)           Float64
Precipitación 18-24h (mm)           Float64
Fecha de muestra             datetime64[ns]
dtype: object

In [ ]:
display(datosMtDF)

,Estación,Provincia,Temperatura máxima (ºC),Temperatura mínima (ºC),Temperatura media (ºC),Racha (km/h),Velocidad máxima (km/h),Precipitación 00-24h (mm),Precipitación 00-06h (mm),Precipitación 06-12h (mm),Precipitación 12-18h (mm),Precipitación 18-24h (mm),Fecha de muestra
4,Estaca de Bares,A Coruña,11.0,8.7,9.8,61,39,0.0,0.0,0.0,0.0,0.0,2019-01-01
6,A Coruña,A Coruña,13.9,5.1,9.5,15,10,0.0,0.0,0.0,0.0,0.0,2019-01-01
7,A Coruña Aeropuerto,A Coruña,14.2,0.0,7.1,24,15,0.0,0.0,0.0,0.0,0.0,2019-01-01
9,Cabo Vilan,A Coruña,13.6,8.0,10.8,20,14,0.0,0.0,0.0,0.0,0.0,2019-01-01
11,Fisterra,A Coruña,13.3,8.4,10.8,23,19,0.0,0.0,0.0,0.0,0.0,2019-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,"Zaragoza, Valdespartera",Zaragoza,9.8,3.0,6.4,64,38,0.0,0.0,0.0,0.0,0.0,2019-01-07
797,Leciñena,Zaragoza,10.5,-5.2,2.7,15,9,0.0,0.0,0.0,0.0,0.0,2019-01-07
798,Valmadrid,Zaragoza,8.1,1.9,5.0,80,58,0.0,0.0,0.0,0.0,0.0,2019-01-07
799,Quinto,Zaragoza,10.5,2.8,6.6,57,30,0.0,0.0,0.0,0.0,0.0,2019-01-07
800,Caspe,Zaragoza,10.2,2.1,6.1,41,31,0.0,0.0,0.0,0.0,0.0,2019-01-07

In [ ]:
#Analizar e indicar los siguientes puntos:
#Estadísticas count, mean, std, min, max, percentiles 25%, 50% y 75%.
display(datosMtDF.describe())

,Temperatura máxima (ºC),Temperatura mínima (ºC),Temperatura media (ºC),Racha (km/h),Velocidad máxima (km/h),Precipitación 00-24h (mm),Precipitación 00-06h (mm),Precipitación 06-12h (mm),Precipitación 12-18h (mm),Precipitación 18-24h (mm)
count,4415.000000,4415.000000,4415.000000,4415.000000,4415.000000,4415.000000,4415.000000,4415.000000,4415.000000,4415.000000
mean,13.790034,1.341042,7.567293,24.756285,15.166478,0.006274,0.001110,0.004122,0.000725,0.000317
std,4.291741,5.596447,4.391094,12.497084,8.438410,0.051827,0.021522,0.036823,0.013939,0.010849
min,-1.400000,-12.100000,-3.600000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,11.100000,-2.700000,4.500000,16.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,14.000000,0.600000,7.100000,22.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,16.700000,4.400000,10.000000,31.000000,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,25.600000,19.100000,21.000000,105.000000,66.000000,1.200000,0.600000,1.000000,0.600000,0.600000

In [ ]:
#Medias por provincia.
display(datosMtDF.groupby(getColumn[1]).mean())

,Temperatura máxima (ºC),Temperatura mínima (ºC),Temperatura media (ºC),Racha (km/h),Velocidad máxima (km/h),Precipitación 00-24h (mm),Precipitación 00-06h (mm),Precipitación 06-12h (mm),Precipitación 12-18h (mm),Precipitación 18-24h (mm)
Provincia,,,,,,,,,,
A Coruña,13.149206,3.119048,8.136508,30.126984,19.968254,0.006349,0.001587,0.004762,0.0,0.0
Alacant/Alicante,16.477143,2.438571,9.464286,21.4,13.371429,0.005714,0.002857,0.002857,0.0,0.0
Albacete,13.885714,-2.67551,5.612245,20.55102,10.714286,0.0,0.0,0.0,0.0,0.0
Almería,17.021429,6.096429,11.558929,25.232143,16.75,0.0,0.0,0.0,0.0,0.0
Araba/Álava,8.462857,-2.84,2.811429,23.285714,13.628571,0.0,0.0,0.0,0.0,0.0
Asturias,10.788889,0.66875,5.731944,23.638889,14.659722,0.001389,0.0,0.001389,0.0,0.0
Badajoz,15.044099,0.16087,7.603727,16.695652,11.416149,0.010559,0.0,0.009317,0.001242,0.0
Barcelona,12.912613,1.007207,6.963063,22.18018,12.873874,0.002703,0.0,0.002703,0.0,0.0
Bizkaia,8.601639,1.767213,5.191803,19.918033,11.590164,0.1,0.004918,0.080328,0.014754,0.0
Burgos,9.841379,-4.141379,2.849425,27.494253,18.609195,0.002299,0.0,0.002299,0.0,0.0
Cantabria,9.882906,-0.641026,4.617949,21.316239,12.923077,0.001709,0.0,0.001709,0.0,0.0
Castelló/Castellón,13.773214,1.65,7.716071,26.857143,17.232143,0.003571,0.0,0.003571,0.0,0.0
Ceuta,17.785714,11.614286,14.7,30.428571,17.0,0.0,0.0,0.0,0.0,0.0
Ciudad Real,14.116364,-1.305455,6.403636,17.145455,9.527273,0.0,0.0,0.0,0.0,0.0
Cuenca,13.820635,-3.149206,5.328571,21.555556,12.333333,0.0,0.0,0.0,0.0,0.0
Cáceres,14.033673,1.194388,7.615816,20.47449,12.841837,0.005612,0.0,0.003571,0.00102,0.00102
Cádiz,17.265306,5.161224,11.218367,26.571429,16.377551,0.00102,0.00102,0.0,0.0,0.0
Córdoba,16.2,0.320732,8.262195,18.439024,11.902439,0.009756,0.0,0.009756,0.0,0.0
Gipuzkoa,7.032143,0.802381,3.922619,17.654762,9.27381,0.096429,0.036905,0.039286,0.008333,0.011905
Girona,14.873874,0.627027,7.753153,31.954955,16.495495,0.000901,0.0,0.000901,0.0,0.0
Granada,16.175758,1.90303,9.033333,19.787879,11.30303,0.0,0.0,0.0,0.0,0.0
Guadalajara,13.271429,-3.928571,4.677143,20.885714,11.942857,0.0,0.0,0.0,0.0,0.0
Huelva,16.968831,3.119481,10.042857,19.363636,11.649351,0.009091,0.0,0.009091,0.0,0.0
Huesca,10.450649,-1.17013,4.643506,25.967532,14.285714,0.007792,0.0,0.005195,0.002597,0.0
Illes Balears,15.735577,4.110577,9.926442,32.418269,18.9375,0.001442,0.0,0.001442,0.0,0.0
Jaén,15.157143,1.567857,8.366071,16.535714,9.446429,0.003571,0.0,0.0,0.003571,0.0
La Rioja,10.902439,-0.214634,5.339024,34.292683,21.292683,0.0,0.0,0.0,0.0,0.0
Las Palmas,19.562698,12.619444,16.09246,34.769841,21.583333,0.0,0.0,0.0,0.0,0.0
León,13.235294,-3.683824,4.773529,18.308824,12.852941,0.0,0.0,0.0,0.0,0.0
Lleida,8.831707,-1.979268,3.42561,25.52439,14.463415,0.0,0.0,0.0,0.0,0.0
Lugo,10.96,1.057143,6.017143,23.485714,12.857143,0.017143,0.0,0.017143,0.0,0.0
Madrid,14.367327,-2.047525,6.162376,18.09901,10.70297,0.0,0.0,0.0,0.0,0.0
Melilla,17.314286,8.185714,12.757143,23.285714,14.428571,0.0,0.0,0.0,0.0,0.0
Murcia,17.045299,1.932479,9.487179,21.700855,13.846154,0.003419,0.0,0.003419,0.0,0.0
Málaga,17.6064,6.3144,11.9608,24.272,14.528,0.0,0.0,0.0,0.0,0.0
Navarra,9.497414,-0.787069,4.356897,36.87931,22.146552,0.015517,0.009483,0.00431,0.0,0.001724
Ourense,12.725806,-4.3,4.206452,12.0,7.290323,0.0,0.0,0.0,0.0,0.0
Palencia,12.094643,-2.441071,4.830357,29.428571,18.196429,0.0,0.0,0.0,0.0,0.0
Pontevedra,14.570732,2.102439,8.346341,21.097561,12.829268,0.0,0.0,0.0,0.0,0.0
Salamanca,10.041346,-4.311538,2.871154,23.490385,15.990385,0.001923,0.0,0.001923,0.0,0.0
Santa Cruz de Tenerife,19.254545,11.260606,15.259091,34.813131,22.252525,0.0,0.0,0.0,0.0,0.0
Segovia,9.973469,-3.110204,3.436735,21.0,14.489796,0.004082,0.0,0.004082,0.0,0.0
Sevilla,16.864045,2.119101,9.494382,19.303371,12.505618,0.004494,0.0,0.004494,0.0,0.0
Soria,12.589041,-3.239726,4.679452,28.630137,19.39726,0.0,0.0,0.0,0.0,0.0
Tarragona,11.691525,1.491525,6.583051,34.508475,19.491525,0.00339,0.0,0.00339,0.0,0.0
Teruel,11.241379,-2.815517,4.218966,24.318966,15.741379,0.0,0.0,0.0,0.0,0.0
Toledo,13.7,-0.875,6.410714,17.25,10.678571,0.0,0.0,0.0,0.0,0.0
Valladolid,9.778571,-6.064286,1.857143,17.190476,10.214286,0.02381,0.0,0.009524,0.014286,0.0
València/Valencia,16.474725,1.227473,8.857143,19.10989,11.263736,0.0,0.0,0.0,0.0,0.0
Zamora,11.095122,-4.439024,3.32561,19.719512,13.04878,0.004878,0.0,0.004878,0.0,0.0
Zaragoza,10.73908,-2.345977,4.195402,29.643678,18.275862,0.0,0.0,0.0,0.0,0.0
Ávila,10.9625,-3.423214,3.766071,19.071429,12.214286,0.003571,0.0,0.003571,0.0,0.0

In [ ]:
#Mayores temperaturas máximas por estación.
print(datosMtDF.groupby(getColumn[0])[getColumn[2]].max())

Estación
A Coruña               14.4
A Coruña Aeropuerto    14.2
A Lama                 17.6
A Pobra de Trives      13.9
Abia de Obispalia      16.8
                       ...
Águilas                18.0
Álora                  22.5
Ávila                  13.4
Écija                  19.5
Ólvega                 15.5
Name: Temperatura máxima (ºC), Length: 641, dtype: Float64

In [ ]:
#Menores temperaturas mínimas por estación.
print(datosMtDF.groupby(getColumn[0])[getColumn[3]].min())

Estación
A Coruña               3.3
A Coruña Aeropuerto   -3.3
A Lama                -3.3
A Pobra de Trives     -2.6
Abia de Obispalia     -4.5
                      ...
Águilas                5.2
Álora                  4.0
Ávila                 -5.3
Écija                 -2.0
Ólvega                -3.6
Name: Temperatura mínima (ºC), Length: 641, dtype: Float64

In [ ]:
#Mayores rachas de viento en un día por provincia.
print(datosMtDF.groupby(getColumn[1])[getColumn[5]].max())

Provincia
A Coruña                  105
Alacant/Alicante           46
Albacete                   38
Almería                    49
Araba/Álava                44
Asturias                   60
Badajoz                    36
Barcelona                  52
Bizkaia                    48
Burgos                     59
Cantabria                  46
Castelló/Castellón         64
Ceuta                      41
Ciudad Real                41
Cuenca                     44
Cáceres                    66
Cádiz                      59
Córdoba                    33
Gipuzkoa                   38
Girona                     92
Granada                    34
Guadalajara                39
Huelva                     36
Huesca                     72
Illes Balears              86
Jaén                       45
La Rioja                   64
Las Palmas                 71
León                       45
Lleida                     64
Lugo                       55
Madrid                     43
Melilla                    33
Murcia                     44
Málaga                     50
Navarra                    72
Ourense                    22
Palencia                   59
Pontevedra                 37
Salamanca                  65
Santa Cruz de Tenerife     75
Segovia                    64
Sevilla                    36
Soria                      58
Tarragona                  78
Teruel                     56
Toledo                     27
Valladolid                 34
València/Valencia          33
Zamora                     36
Zaragoza                   80
Ávila                      51
Name: Racha (km/h), dtype: Int64

In [ ]:
#Mostrar cuántas estaciones hay por provincia y un total general.
print(datosMtDF.groupby(['Provincia'])['Estación'].nunique())
print(f'Total de estaciones: {datosMtDF["Estación"].nunique()}')

Provincia
A Coruña                   9
Alacant/Alicante          10
Albacete                   7
Almería                    8
Araba/Álava                5
Asturias                  21
Badajoz                   23
Barcelona                 16
Bizkaia                    9
Burgos                    13
Cantabria                 17
Castelló/Castellón         8
Ceuta                      1
Ciudad Real                8
Cuenca                     9
Cáceres                   28
Cádiz                     14
Córdoba                   12
Gipuzkoa                  12
Girona                    17
Granada                    5
Guadalajara                5
Huelva                    11
Huesca                    22
Illes Balears             30
Jaén                       8
La Rioja                   6
Las Palmas                36
León                      10
Lleida                    12
Lugo                       5
Madrid                    15
Melilla                    1
Murcia                    17
Málaga                    18
Navarra                   17
Ourense                    5
Palencia                   8
Pontevedra                 6
Salamanca                 15
Santa Cruz de Tenerife    30
Segovia                    7
Sevilla                   13
Soria                     11
Tarragona                  9
Teruel                    17
Toledo                     4
Valladolid                 6
València/Valencia         13
Zamora                    12
Zaragoza                  13
Ávila                      8
Name: Estación, dtype: int64
Total de estaciones: 641